@charset "UTF-8";
div.pag{
    padding: 40px;
}
header.cabecalho{
    margin: -40px -40px 0px -40px;
}
form#fcontato{
    padding: 10px;
    width: 500px;
    margin: auto;
}
fieldset{
    margin: 20px 0px 20px 0px;
}
input, textarea{
    outline: 0;
    font-family: 'sans-serif';
    font-weight: normal;
    font-size: 13pt;
    background-color: rgba(255,255,255,.8);
}
input:hover, textarea:hover{
    background-color: #dddddd;
}
legend{
    color: #888888;
    font-size: 13pt;
    font-family: 'sans-serif';
}
fieldset{
    border-color: #cececece;
    margin: 20px;
}
fieldset#sexo{
    width: 150px;
}
fieldset#usuario{
    background: url('/img/icone-contato.png') no-repeat 95% 95%;
}
fieldset#endereco{
    background: url('/img/icone-endereco.png') no-repeat 95% 95%;
}
fieldset#mensagem{
    background: url('/img/icone-mensagem.png') no-repeat 95% 95%;
}
fieldset#pedido{
    background: url('/img/icone-pagamento.png') no-repeat 95% 95%;
}